<div class="col-xs-12">
    <h1>Add Server</h1>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Server Name" [(ngModel)]="serverName" /><br>
        <input type="text" class="form-control" placeholder="Server Content" [(ngModel)]="serverContent" /><br>
        <button type="button" class="btn btn-default" (click)="addServer()">Add server</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="addBlueprintServer()">Add blueprint server</button>&nbsp;
    </div>
</div>