<div class="col-xs-12">
    <p>Add Server</p>
    <div class="form-group">
        <label>Server Name</label>
        <!-- <input type="text" class="form-control" placeholder="Server Name" [(ngModel)]="serverName" /><br> -->
        <input type="text" class="form-control" placeholder="Server Name" #serverInputName /><br>
        <label>Server Content</label>
        <!-- <input type="text" class="form-control" placeholder="Server Content" [(ngModel)]="serverContent" /><br> -->
        <input type="text" class="form-control" placeholder="Server Content" #serverInputContent /><br>
        <button type="button" class="btn btn-default" (click)="addServer(serverInputName)">Add server</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="addBlueprintServer(serverInputName)">Add blueprint server</button>&nbsp;
    </div>
</div>